<h2 class="page-header">New User</h2>
<form action="/users" method="POST" enctype="multipart/form-data">
  <%- include('_form_fields') %>
  <a href="/users">Cancel</a>
  <button class="btn btn-primary" type="submit">Create</button>
</form>